# GNURadio flowgraphs
*.grc
*.pyc
__pycache__/

# SDR capture files
*.wav
*.iq
*.bin
*.dat
*.log

# Python artifacts
*.egg-info/
*.pyo
*.pyd
*.env
.env
*.venv
.venv/
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db
